*{ margin:0;
padding:0; 
}

body{ background-color:#191919;}.menu-bar{
text-align:center;
}
.menu-bar ul{ display:inline-flex;
list-style:none;
color:yellow;}

.menu-bar ul li{ width:150px;
margin:15px;
padding:15px;
}

.menu-bar ul li a{ text-decoration:none;
color:yellow;}

.menu-bar ul li :hover{ 
border-radius:5px
padding 5px;
color:#c90076;
 }
.sub-menu-1

	{display:none;}
	
	.menu-bar ul li:hover .sub-menu-1
	{display:block;
position:absolute;

margin-top:5px;
margin-left:-15px;
}

.menu-bar ul li:hover .sub-menu-1 ul

{ display:block;
margin:10px;}

	.menu-bar ul li:hover .sub-menu-1 ul li{ 
width:150px;
padding:10px;
border-bottom :1px dotted #fff;
background:transparent;
border-radius:0;
text-align:left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child{border-bottom:none;}
.menu-bar ul li:hover .sub-menu-1 ul li a: hover{color:pink;}
 
 .about{ width:100%;
 padding:100px 0px;
 background-color:#FFFF;}
 .about img{height:auto;
 width:350px;
}
 .about-text{width:550px;}
 .mainA{width:1130px;
 max-width:95%;
 margin:0 auto;
 display:flex;
 align-items:center;
 justify-content:space-around;
}
 
 .about-text h2{ color: pink;
 font-size:75px;
 text-transform:capitalize;
 margin-bottom:20px;}
 